:root {
  --primary: rgba(255, 255, 255, 1);
  --secondary: rgba(179, 179, 179, 1);
  --background: rgba(6, 4, 18, 1);
  --accent: rgb(32, 79, 254);
  --warning: rgba(235, 55, 149, 1);
  --button: rgba(39, 42, 46, 1);
  --button_hover: rgba(39, 42, 46, 0.9);

  --font-title: 'Kanit', sans-serif;
  --font-body: 'Roboto Mono', monospace;

  --font-size_title-web: 140px;
  --font-size_title-tab: 112px;
  --font-size_title-mob: 48px;

  --fon-size_subtitle-web: 24px;
  --fon-size_subtitle-tab: 20px;
  --fon-size_subtitle-mob: 18px;

  --font-size_body-web: 18px;
  --font-size_body-tab: 16px;
  --font-size_body-mob: 14px;

  --font-size_button: 16px;

  --cubic-bezier: cubic-bezier(0.42, 0, 0.58, 1);
}

body {
  position: relative;
  margin: 0 auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
  background-color: var(--background);

  letter-spacing: calc(var(--font-size_body-web) / -50);
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
img,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
textarea {
  resize: none;
}
